/cmake-build-debug/build.ninja
/.idea/.gitignore
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-bd4ce29bc4b177f6674c.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9007385d4546b13cde1f.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-abf0bc208e472539d4ac.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-24T06-36-44-0274.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/main.c
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/00_Struct_and_Files/Source
/01_SimpleList/Source
/.idea/tutorialeSDD.iml
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-966a071b80f8f873b1a2.json
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/reply/target-tutorialeSDD-Debug-39bf2e62cc96f28a26d2.json
